<!DOCTYPE html>
<html ng-app="movieApp">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/style.css"/>
    <script type="text/javascript" src="vendors/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>
    <title>Weekend Challenge 5 redo</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div ng-controller="SearchController">

        </div>
      </div>

      <div class="row">
        <div ng-controller="DisplayController">

        </div>
      </div>







    </div>
  </body>
</html>
