<!DOCTYPE html>
<html ng-app="movieApp">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/style.css"/>
    <script type="text/javascript" src="vendors/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>
    <title>Weekend Challenge 5 redo</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="header col-md-12">
          <h1>MOVIE SEARCH</h1>
        </div>
      </div>
      <div class="row col-md-6">
        <div ng-controller="SearchController">
          <input type="text" ng-model='searchedMovie.title' placeholder="Movie Title">
          <button type="button" ng-click="searchMovie()">Search</button>
          <p>{{searchedMovie.title}}</p>
        </div>
      </div>


        <div ng-controller="FavoritesController">

        </div>








    </div>
  </body>
</html>
